@charset "utf-8";
/* CSS Document */

/*** WooCommerce overrides ***/

.select2-choice, #shipping_state {
	float:left;
	clear:left;	
	width:100%;
	margin-bottom:10px;
}

.products .product {
    border: 1px solid #EFEFEF;
	text-align:center;
	padding:30px;
	min-height:270px;
	
	border-radius:10px 0 20px;
	-moz-border-radius:10px 0 20px;
	-webkit-border-radius:10px 0 20px;
	-o-border-radius:10px 0 20px;
}

.pm-product-view-details a:before {
    content: '\f03a';
    font-family: "fontawesome";
	margin-right:5px;
}

.products .pm-add-to-cart-btn:before {
    content: '\f07a';
    font-family: "fontawesome";
	margin-right:5px;
}

.products .product a {
	text-decoration:none;
	
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	-ms-transition:all 0.3s ease 0s;
}

.products .product a:hover {
	color:#666;	
}

.products .product h3 {
	margin-bottom:7px;	
}

.products .product h3 a {
	font-size:20px;
	
}

.pm-product-meta-info-container {
	overflow:hidden;	
}

.pm-product-meta-info-container .star-rating {
	display:none;	
}

.pm-product-meta-info-container .price {
	margin-bottom:7px;
	display:block;
	font-size:16px;
	color:#666;
}

.pm-product-meta-info-container a {
	float:left;
}

.pm-product-divider {
    background-color: #DDDDDD;
    height: 1px;
    margin: 0 auto;
    /*width: 90%;*/
	margin-bottom:5px;
}

.pm-product-view-details {
	float:right;	
}

.pm-product-img-hover-container {
	position:relative;	
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	-ms-transition:all 0.3s ease 0s;
	
}

.woocommerce-main-image img {
	max-width: 100% !important;
    width: 100% !important;
}

.pm-product-img-hover-container img {
	
	
	border-radius:0px !important;	
	-moz-border-radius:0px !important;	
	-webkit-border-radius:0px !important;	
	-o-border-radius:0px !important;	
}

.product .pm-product-img-hover-container img {
	max-width: auto !important;
    width: auto !important;
}

.pm-product-img-hover-icon {
	position:absolute;
	z-index:99;	
	top:45%;
	left:45%;
	opacity:0;
}

.pm-product-img-hover-icon a {
	text-decoration:none !important;	
}

.pm-product-img-hover-icon i {
	font-size:22px;
	font-family:'FontAwesome';
	font-style:normal;
	
}

.pm-product-img-hover-icon i:hover {
	cursor:pointer;
}

.pm-added-to-cart-icon {
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    height: 35px;
    opacity: 0;
    position: absolute;
    width: 35px;
    z-index: 99;
	margin-left:-20px;
	margin-top:-20px;
	
	border-radius:99px;
	-moz-border-radius:99px;
	-webkit-border-radius:99px;
	-o-border-radius:99px;
	
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}

.pm-added-to-cart-icon:hover {
	background-color:#333;
}


.pm-added-to-cart-icon.in_cart {
	opacity:1;	
}

.pm-added-to-cart-icon i {
    color: #FFFFFF !important;
    display: block;
    font-family: 'FontAwesome';
    font-size: 18px;
    font-style: normal;
    padding-top: 8px;
}

.woocommerce-breadcrumb {
	list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 5px 0 0;
	padding:5px 18px 5px 14px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 0px 30px 30px 20px;
	-moz-border-radius: 0px 30px 30px 20px;
	-webkit-border-radius: 0px 30px 30px 20px;
	-o-border-radius: 0px 30px 30px 20px;
	float: left;
	clear:left;
	font-size:0px;
}

.woocommerce-breadcrumb li {
	float:left;
	margin-right:5px;
}


.summary {
	/*float:left;	*/
}

.woocommerce-tabs {
    clear: both;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 30px;
    overflow: hidden;
    padding: 0 30px;
	width:100%;
}

.quantity .minus, .quantity .plus {
    float: left;
    /*margin-right: 10px;*/
    padding: 5px 10px;
	border-radius:0px;
	
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	-ms-transition:all 0.3s ease 0s;
}

.quantity .minus:hover, .quantity .plus:hover {
	background-color:#333;
}

.cart_item .product-quantity .quantity .qty {
    border-left: medium none;
    border-right: medium none;
    color: #333333;
    float: left;
    padding: 3px;
    text-align: center;
    width: 18%;
}

.quantity .qty {
    border-left: medium none;
    border-right: medium none;
    color: #333333;
    float: left;
    padding: 3px;
    text-align: center;
    width: 8%;
}
.single_add_to_cart_button {
    background-color: #00BE9F;
    border: 0 solid #808080;
    clear: both;
    color: #FFFFFF;
    float: left;
    margin: 10px 0;
    padding: 8px 12px;
	text-transform: uppercase;
	font-weight:bold;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	-ms-transition:all 0.3s ease 0s;
}

.single_add_to_cart_button:hover {
	background-color:#333;	
}

.product_meta {
	clear:both;	
	overflow:hidden;
}

.product_meta .sku_wrapper, .product_meta .posted_in {
    clear: left;
    float: left;
    margin-top: 5px;
    padding: 0 0 10px;
}

.product_meta .tagged_as {
	clear:left;
	float:left;
	margin-top:-3px;
}

.woocommerce-tabs > .tabs {
    float: left;
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0;
    width: 100%;
	border-bottom: 1px solid #E7E6E6;
	border-top: 1px solid #E7E6E6;
}

.woocommerce-tabs .tabs li {
	float:left;	
	padding-left:15px;
	padding-right:15px;
}

.woocommerce-tabs .tabs li a {
    border-bottom: 0px solid #E7E6E6;
    display: block;
    padding: 10px 0;
}

.description_tab.active, .additional_information_tab.active, .reviews_tab.active {
	background-color:#F7F7F7;
}

.related.products {
	clear:both;
}


.woocommerce-tabs .panel {
	clear:both;
	padding:0 0 30px 12px;
    border-bottom:1px solid #E7E6E6; 
    float: none;
    margin-top: 20px;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-o-border-radius:0px;
}

.pm-product-comments {
	background-color:none !important;	
}

.side-nav .arrow, .woocommerce-tabs .tabs a:hover .arrow, .woocommerce-tabs .tabs li.active a .arrow {
    display: inline-block;
    margin-left: 10px;
    padding-right: 0 !important;
}

#review_form #respond {
	padding:0px;	
}

.product_title {
	font-size:30px;	
}

.pm-already-in-cart {
	margin-bottom:0px;	
}

.pm-already-in-cart i {
	font-family:'FontAwesome' !important;
	font-style:normal;
	color:#333;
	font-size:16px;
}

.woocommerce-page .woocommerce-message {
    margin-bottom: 30px;
    padding: 20px 0;
    text-align: left;
	border-bottom:1px solid #E7E6E6;
	border-top:1px solid #E7E6E6;
}

.woocommerce-cart .woocommerce-message {
	margin-left:0px !important;
}

.pm-returning-customer .woocommerce-info {
    border:none;
	padding:0;
	margin:0;
}

.woocommerce-message a {
	float:right;
}

.pm-product-social-icons {
	overflow:hidden;
	margin:0;
	list-style:none !important;
	padding:0px;
	margin-bottom:20px;
}

.pm-product-social-icons li {
	float:left;
	margin-right:1px;
}

.pm-product-social-icons li:before {
	content:normal !important;		
}

.pm-product-social-icons li a {
    color: #FFFFFF;
    display: block;
    font-family: FontAwesome;
    font-size: 14px;
    height: 25px;
    padding-top: 11px;
    text-align: center;
    text-decoration: none;
    width: 35px;
	background-color:#333;
	
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}

.pm-product-social-icons li a:hover {
	background-color: #333333;	
}

.pm-product-social-icons li .fa.fa-google-plus {
	background-color: #D95232;
}

.pm-product-social-icons li .fa.fa-facebook {
	background-color: #3C599B;
}

.pm-product-social-icons li .fa.fa-twitter {
	background-color: #32CCFE;
}

.pm-product-social-icons li .fa.fa-linkedin {
	background-color: #1D87BD;
}

.remove {
    display: inline-block;
    padding: 3px 10px 4px !important;
	
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}



.product-buttons .added_to_cart {
    display: none;
}
.added_to_cart {
    display: none !important;
}

.pm-cart-items-container {
	border:1px solid #E0DEDE;
	margin-bottom:30px;
	padding-bottom:20px;
}

.pm-cart-count {
    border-bottom: 1px solid #E0DEDE;
    margin-bottom: 30px;
    padding:0 0 10px;
}

.pm-cart-count-text {
	font-size:22px;	
}

.row.cart_item {
	padding:0 0 0 50px;	
}

.row.cart_item [class*="span"] {
    margin-bottom: 10px !important;
	margin-top: 10px !important;
    margin-left: 21px;
}

.coupon {
	padding:20px;
	border: 1px solid #E0DEDE;	
}

.cart-collaterals {
	margin-top:35px;
	padding:20px;
	border: 1px solid #E0DEDE;	
}

.pm-cart-total-container {
	padding:20px;
	border: 1px solid #E0DEDE;	
}

.cart_totals table {
	width:100%;	
}

.cart_totals .cart-subtotal, .cart_totals .shipping {
	 height: 50px;
}

.cart_totals .order-total {
    border-top: 1px solid #E0DEDE;
    height: 50px;
}


.product-name, .product-price, .product-quantity, .product-subtotal, .product-remove {
	padding-top:30px;
	
}

.product-name a {
	line-height:0px !important;	
}

.pm-checkout-tabs {
    border-bottom: medium none;
    float: left;
    margin-right: 20px;
    padding-left: 0;
    width: 14.8%;
}

.pm-checkout-tabs > li.active > a, .pm-checkout-tabs > li.active > a:hover, .pm-checkout-tabs > li.active > a:focus {
	border:1px solid transparent !important;	
}

.pm-checkout-tabs li {
	float:none;
	border-bottom:1px solid #DDDDDD;
	margin-bottom:0px !important;
}

.pm-checkout-tabs li a {
	border-radius:0px !important;	
}

.pm-checkout-tabs li a:hover, .pm-checkout-tabs li a:focus {
	background-color:transparent !important;
	border:1px solid transparent !important;
}

.pm-checkout-tabs li.active a:after {
    content: "\f105";
    font-family: 'FontAwesome';
    margin-left: 5px;
}

.woocommerce-checkout .tab-content {
    border: 0px solid #DDDDDD;
    float: left;
    padding: 20px;
    width: 78%;
}

.pm-returning-customer {
	padding:20px;	
	border: 1px solid #DDDDDD;
	overflow:auto;
	margin-bottom:30px;
}

.shop_table {
	width:100%;	
}

.shop_table .product-name, .shop_table .product-price, .shop_table .product-quantity, .shop_table .product-subtotal, .shop_table .product-remove {
	padding-top:0px;	
}

.shop_table .product-name {
	height:40px;	
}

.shop_table .cart-subtotal, .shop_table .shipping, .shop_table .order-total {
	height:40px;
	border-top:1px solid #E0DEDE;
}

.shop_table .cart-subtotal th, .shop_table .cart-subtotal td {
	padding:15px 0;	
}

.shop_table .shipping th, .shop_table .shipping td {
	padding:15px 0;	
}

.shop_table .order-total th, .shop_table .order-total td {
	padding:15px 0;	
}

.shop_table .cart_item .product-name, .shop_table .cart_item .product-total {
	padding:20px 0;		
}

.woocommerce-shipping-fields .checkbox {
	padding-left:0px;
}

#createaccount {
	float:left;	
	margin-top:6px;
}

.pm-cart-coupon-box {
	padding-left:0px;
	margin-left:0px !important;
}

.pm-cart-total-box {
	padding-right:0px;	
}


.pm-order-by-dropdown {
    list-style: none outside none;
    margin: 0 10px 0 0;
    padding: 0 0 0 8px;
    position: relative;
    width: 165px;
	border: 1px solid #DBDBDB;
	height:32px;
}

.pm-order-by-dropdown a {
	font-size:12px;
	font-family:"Arial Black", Gadget, sans-serif;	
	display:block;
	margin-top:0px;
	text-decoration:none !important;
	color:#333; /* Set in custom to primary */
}

.pm-order-by-dropdown a:hover {
	color:#333 !important; /* Set in custom to primary */
}

.pm-order-by-dropdown > li:after {
    border-left: 1px solid #DBDBDB;
    content: "\f107";
    display: block;
    font-family: "FontAwesome";
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 26px;
    z-index: 101;
}

.pm-order-by-dropdown ul {
	display:none;	
}
.woocommerce-result-count {
	float:right;
	margin-top:5px;
}

.woocommerce-result-count.left {
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.woocommerce-pagination .page-numbers li {
	background-color: #EEEEEE;
    border: 0 solid #000000;
    float: left;
    height: 36px;
    margin-right: 1px;
    transition: all 0.3s ease 0s;
    width: 35px;	
}

.woocommerce-pagination .page-numbers li span {
    display: block;
    font-family: arial !important;
    font-size: 12px !important;
    line-height: 36px !important;
    text-align: center;
}

.woocommerce-pagination .page-numbers li a {
    color: #808080;
    display: block;
    font-family: arial !important;
    font-size: 12px !important;
    line-height: 36px !important;
    text-align: center;
    text-decoration: none;
}

.woocommerce-pagination .page-numbers li span.current {
	color:white;	
}

.woocommerce-pagination .page-numbers li:hover {
	background-color:#CCC;
	color:white;
}

.pm-product-img-hover-container .onsale {
    height: 35px;
    position: absolute;
    right: -20px;
    top: -20px;
    width: 35px;
    z-index: 100;
	
	border-radius:99px;
	-moz-border-radius:99px;
	-webkit-border-radius:99px;
	-o-border-radius:99px;

}

#pm-product-img-single {
	border:1px solid #EEEEEE;
}

.pm-product-images .onsale {
	left:5%;
	top:5%;
}

#pm-product-img-single .onsale {
    left: 10px;
    top: 10px;
}

.pm-single-image-column {
	padding-left:0px;	
}



.pm-product-img-hover-container .onsale i {
	color: #FFFFFF !important;
    display: block;
    font-family: 'FontAwesome';
    font-size: 18px;
    font-style: normal;
    padding-top: 8px;
	padding-left: 3px;	
}

#pm-product-img-single .onsale i {
	padding-left: 10px;
}

.pm-single-product-sale {
	padding-left:10px;	
}

.comment-form-rating .stars span a {
	margin-right:3px;	
	text-decoration:none;
	font-size:0px !important;
}

.comment-form-rating .stars span a i {
	font-family: 'FontAwesome';
    font-size: 18px;
    font-style: normal;
	
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}

.comment-form-rating .stars span a i:hover {
	color:#333;	
}

.comment-form-rating .stars span a i.activated {
	color:#333;	
}

.pm-shipping-calculator-btn {
	border: 0 none;
    color: white;
    cursor: pointer;
    font-family: arial;
    width: auto;
	padding:7px 20px 7px 15px;
	
	/*background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.2) 100%);*/
	
	border-radius:0 30px 30px 20px!important;
	-moz-border-radius:0 30px 30px 20px !important;
	-webkit-border-radius:0 30px 30px 20px !important;
	-o-border-radius:0 30px 30px 20px !important;
	
	transition:all 120ms ease-in 0s;
	-moz-transition:all 120ms ease-in 0s;
	-webkit-transition:all 120ms ease-in 0s;
	-o-transition:all 120ms ease-in 0s;
}

.pm-shipping-calculator-btn:hover {
	background-color:#666;
}

.price del .amount {
	font-size:13px;	
}

.price ins {
	text-decoration:none;
	font-weight:bold;	
}

#ship-to-different-address label {
	font-weight:normal;	
	display:inline;
}

.woocommerce-error {
    background-color: #EEEEEE;
    border-radius: 10px;
    margin: 0 0 35px;
    padding: 10px 20px;
	list-style:none !important;
}

#billing_country_chosen, #billing_state_chosen, #shipping_country_chosen, #shipping_state_chosen {
	display:inherit;	
}
.shop_table .product-name, .shop_table .product-total {
	font-weight:bold !important;
	text-align:left;
}

.order_details > tfoot > tr {
	height:40px;	
}
.order_details {
	border-bottom: 1px solid #EFEFEF;
    border-top: 1px solid #EFEFEF;
    margin-bottom: 40px;
	list-style:none;
	margin:0px;
	padding:0px;
	text-align:left;
}
.order_details .product-name {
	width:40%;	
}
.customer_details dt, .customer_details dd {
	height:30px;	
}

.customer_details dt {
	font-weight:bold !important;	
}

.pm-order-details-thumb {
	float:left;	
}

.widget_product_search label {
	display:none;	
}

.form-row input[type="submit"] {
	float:left;	
	margin-bottom:10px;
}

.form-row label {
	float:left;
	clear:left;	
}

.form-row-wide label {
	float:none;
	clear:none;	
}

.lost_password {
	float:left;
	clear:left;
}

.chosen-container-single .chosen-single {
	width:100%;
	float:left;
	clear:left;
	margin-bottom:10px;
}

#customer_login h2 {
	clear:left;	
}

.shop_table.my_account_orders {
	margin-bottom:20px;
}

#tab-description ul li:before {
   font-family: 'FontAwesome';
	content: '\f101';
	margin:0 10px 0 0;
	color:#666;
}



/** Sidebar widgets **/
.product_list_widget li {
	border-bottom:1px dotted #E3E3E3;
	margin-bottom:10px;
	padding-bottom:10px;
}

.widget_shopping_cart_content .buttons .wc-forward {
	background-color: #00BE9F;
    /*background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.2) 100%);*/
    border: 0 none;
    color: #FFFFFF;
    padding: 7px 20px;
	text-decoration:none;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	
}

.widget_shopping_cart_content .buttons .wc-forward:hover {
	background-color:#333;	
}

.widget_recent_reviews .product_list_widget li a img {
	float:right;	
}

.widget_recent_reviews .product_list_widget li .star-rating {
	margin-top:-10px;
}
.widget_recent_reviews .product_list_widget li .reviewer {
    display: block;
    margin-top: -12px;
}

.pm-widget-star-rating {
    list-style: none outside none !important;
    margin: 0;
    overflow: hidden;
    padding: 10px 0 0 0;
}

.pm-widget-star-rating li {
    border: medium none !important;
    float: left;
    margin-bottom: 0;
    margin-right: 3px;
    padding-bottom: 0;
}

.pm-widget-star-rating li i {
	font-family:'FontAwesome';
	font-style:normal;	
	font-size:14px;
}

.pm-widget-star-rating li i.inactive {
	color:#aaa;	
}

.product_list_widget li {
	overflow:hidden;	
}

.product_list_widget li a img {
	float:right;	
	width: auto;
}

.woocommerce-pagination ul {
	list-style-image:none !important;
    margin:20px 0 0 0 !important;
    padding:0px !important;
	list-style:none !important;
}

.related.products h2 {
	margin-bottom:20px;
}

.products [class*="span"] {
	margin-bottom: 20px;
    min-height: 320px;
}

.pm-sidebar .woocommerce {
	margin-bottom:30px;
}

.woocommerce.widget_product_tag_cloud {
	overflow:hidden;	
}

.payment_methods.methods {
	list-style:none !important;
	padding:0px;
	margin:0px;	
}
.cart-subtotal, .shipping, .order-total {
	text-align:left;	
}

#tab-description p, .shop_attributes, #pm-product-comments p {
	text-align:left;	
}

.product_list_widget {
	margin:0px;
	padding:0px;
	list-style:none !important;
}

.pm-sidebar .pm-widget-star-rating {
	padding: 5px 0 !important;	
}

.pm-sidebar .widget_product_search input[type="text"] {
	width:94%;
	padding:10px;	
}

.cart-collaterals h2 {
	line-height:20px !important;
	margin:0 0 20px;	
}

.payment_methods li label {
	display:inline-block;
	padding-top:5px;
}

#payment_method_bacs, #payment_method_cheque, #payment_method_paypal {
	margin-top:-3px;	
}

#place_order {
	margin-top:10px;		
}

.span12 .woocommerce header {
	height:auto;	
}

dd {
    margin-left: 0px !important;
}

.product-thumb a img {
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-o-border-radius:0px;
}

.shop_table.my_account_orders {
	text-align:left;	
}

.woocommerce-product-rating {
	margin-bottom:20px;	
}

#coupon_code {
	margin-top:20px;	
}

#rememberme {
	margin-top:-3px;	
}

/* June 2016 */
.shop_table {
	margin-top:30px;	
}

.woocommerce-checkout-review-order-table thead {
	border:none !important;		
}


.remove {
    display: inline-block;
    padding: 3px 10px 4px !important;
	margin:0 !important;
	padding:5px 10px !important;
	color:white !important;
	font-size:16px !important;
	
	@include borderRadiusAll(0px);
	@include transition(all, 0.4s);
}



input[type=submit].button, .checkout-button {
	margin-top:10px;
	line-height: 40px !important;
	background-color:transparent;	
	padding: 0 15px !important;
	display: inline-block;
	@include transition(all, 0.4s);
}

.coupon {
    border-bottom: 1px solid #e0dede;
    border-top: 1px solid #e0dede;
    margin-bottom: 20px;
	margin-top:30px;
    padding: 20px 0 40px;
}

.cart-collaterals {
	margin-top:35px;
	padding:40px 0;
	border-top: 1px solid #E0DEDE;	
	border-bottom: 1px solid #E0DEDE;	
}



.product-thumbnail a img {
	margin:10px 0;	
}


.pm-cart-items-container, .coupon, .cart-collaterals, .pm-cart-total-container, .pm-returning-customer, .tab-content {
	border-left:none !important;
	border-right:none !important;	
}

input[type=text]#coupon_code {
	width:100%;	
	padding:20px !important;
	
	background-image: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 0%, #ffffff 100%);
    border: 1px solid #e1e1e1;
	
	@include transition(all, 0.4s);
}



.stock.in-stock {
	float:left;
	clear:left;
	display:none;
}

.woocommerce-billing-fields input[type="text"], .woocommerce-billing-fields input[type="email"], .woocommerce-billing-fields input[type="tel"], .woocommerce-billing-fields input[type="password"] {
	padding:10px !important;	
}

.woocommerce-shipping-fields textarea {
	padding:10px !important;
	min-height:250px;
}

.woocommerce .thumbnails {
	margin-left:0px;
	margin-top:10px;
	margin-bottom:20px;	
}

.woocommerce .thumbnails a {
	width:80px;
	height:auto;
	display:block;
	float:left;
	margin-right:3px;
	margin-bottom:3px;
	
	@include transition(all, 0.4s);
}

.woocommerce .thumbnails a:hover {
	opacity:.5;	
}

.woocommerce .pm-sidebar aside {
	padding-left:20px;	
}