@import 'mixins';

.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li {
	margin-bottom: 0px !important;	
}

.progress {
	margin:20px 0;	
}

iframe {
	border:none;	
}

h1 {
	margin:0px;	
}

/* Required post single paging */
.pm_paginated-posts {
	font-size:10px; 
	font-weight:normal; 
	font-family:arial; 
}

.pm_paginated-posts p a {
	background:#E8E8E8; 
	color:#000; 
	margin-left:0.6em; 
	margin-right:0.6em;
	padding:0.5em 0.7em; 
	text-decoration:none; 
}

.pm_paginated-posts a:hover { 
	color:#fff; 
	background:#7F1315; 
}

.vc-featured-borders {
    border-bottom: 6px solid #3d3d3d;
    border-top: 6px solid #3d3d3d;
}

/* Required WordPress classes */
.wp-caption{};
.wp-caption-text{};
.sticky{};
.gallery-caption{};
.bypostauthor{};
.alignright{text-align:right;}
.alignleft{text-align:left;}
.aligncenter{text-align:center;}

/* Required WordPress formatting */
img.alignright { float:right; margin:0 0 1em 1em; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; }
img.alignleft {float:left; margin:0 1.5em 1em 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px;}
img.aligncenter {display: block; margin-left: auto; margin-right: auto; margin-bottom:1em; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px;}
a img.alignright {float:right; margin:0 0 1em 1.5em; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px;}
a img.alignleft {float:left; margin:0 1.5em 1em 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px;}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px;}

/********* Helper Classes *********/
.vc_row {
    margin-bottom: 0 !important;
}

.pm-containerPadding20 {
	padding:20px 20px;	
}

.pm-containerPadding30 {
	padding:30px 20px;	
}

.pm-containerPadding40 {
	padding:40px 20px;	
}

.pm-containerPadding60 {
	padding:60px 20px;	
}

.pm-containerPadding80 {
	padding:80px 20px;	
}

.pm-containerPadding100 {
	padding:100px 20px;	
}

.pm-containerPadding120 {
	padding:120px 20px;	
}

.pm-containerPadding-top-10 {
	padding-top:10px;	
}

.pm-containerPadding-top-20 {
	padding-top:20px;	
}

.pm-containerPadding-top-40 {
	padding-top:40px;	
}

.pm-containerPadding-top-50 {
	padding-top:50px;	
}

.pm-containerPadding-top-60 {
	padding-top:60px;	
}

.pm-containerPadding-top-70 {
	padding-top:70px;	
}

.pm-containerPadding-top-80 {
	padding-top:80px;	
}

.pm-containerPadding-top-90 {
	padding-top:90px;	
}

.pm-containerPadding-top-100 {
	padding-top:100px;	
}

.pm-containerPadding-top-120 {
	padding-top:120px;	
}

.pm-containerPadding-bottom-10 {
	padding-bottom:10px;	 
}

.pm-containerPadding-bottom-20 {
	padding-bottom:20px;	
}

.pm-containerPadding-bottom-30 {
	padding-bottom:30px;	
}

.pm-containerPadding-bottom-40 {
	padding-bottom:40px;	
}

.pm-containerPadding-bottom-50 {
	padding-bottom:50px;	
}

.pm-containerPadding-bottom-60 {
	padding-bottom:60px;	
}

.pm-containerPadding-bottom-70 {
	padding-bottom:70px;	
}

.pm-containerPadding-bottom-80 {
	padding-bottom:80px;	
}

.pm-containerPadding-bottom-90 {
	padding-bottom:90px;	
}

.pm-containerPadding-bottom-100 {
	padding-bottom:100px;	
}

.pm-containerPadding-bottom-120 {
	padding-bottom:120px;	
}

.pm-row-margin-30 {
	margin-bottom:30px;	
}


/* Accordion overrides */
.pm-accordion {
	clear:both;	
}

.accordion-inner {
	border:none !important;		
	padding:9px 0;
}

.accordion-group {
    border: 0px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
    margin-bottom: 2px;
	border:none !important;	
}

.accordion-group p {
	margin:0px !important;	
}

.accordion-heading {
    border-bottom: 1px solid #EEEEEE;
    padding: 10px 0 0;
}

.accordion-heading .accordion-toggle {
	font-size:24px;
	text-decoration:none;
	padding:8px 0;
	color:#808080;
}

#pm-accordionIcon {
    float: left;
    font-size: 20px;
    margin-right: 15px;
    margin-top: 16px;
	width:15px;
	max-width:20px;
}
/* Accordion overrides end */

/* Tab overrides */
.pm-nav-tabs {
	padding:0px;	
	clear:both;
}

.pm-tab-content {
	border:none !important;	
	width:95% !important;
}

/* Search btn */
.searchBtn {
    height: 47px;
	width:47px;
	border:none !important;
	text-align:center;
	@include transition(all, 0.4s);
}

.searchBtn i {
	color:white;
	font-size:18px;
	line-height:2.5;
}


/* Pagination */
.pagination {
    border-top: 1px solid #ededed;
    list-style: none outside none;
    padding:0 0 0 10px;
	margin:0px;
}

.pagination li {
    float: left;
	width:35px;
	height:35px;
	background-color:#f9f9f9;
	border-bottom:1px solid #ededed;
	border-right:1px solid #ededed;
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}

.pagination li:hover {
	background-color:#CCC;
	color:white;
}

.pagination li:first-child {
	border-left:1px solid #ededed;
}
	

.pagination li a {
    display: block;
    padding: 5px 0;
    text-align: center;
	color:grey;
}

.pagination li.current {
    background-color:#ACDB05;
}

.pagination li span.current {
	color:#333333;
}

.pagination li span {
    display: block;
    padding: 5px 0;
    text-align: center;
}
/* Pagination end */


/* Pagination multi post */
.pagination_multi {
    list-style: none outside none;
    padding:0px;
	margin:0px;
}

.pagination_multi li {
    float: left;
	width:35px;
	height:30px;
	background-color:#eee;
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	padding-top:5px;
	text-align:center;
	margin-right:2px;
	border-radius:10px 0 10px 0;
	-moz-border-radius:10px 0 10px 0;
	-webkit-border-radius:10px 0 10px 0;
	-o-border-radius:10px 0 10px 0;
}

.pagination_multi li:hover {
	background-color:#CCC;
	color:white;
}
/* Pagination multi post end */

/* Product switcher */
.pm-product-switcher {
    background-color: #2ba8ff;
    bottom: -234px;
    height: auto;
    position: fixed;
    left: 20px;
    width: 310px;
    z-index: 999999;
	
	transition:all 0.4s;
	-moz-transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-o-transition:all 0.4s;
}

.pm-product-switcher-title {
	display:inline-block;
	padding:10px 15px;
	font-size:12px;
	color:white;
	font-family:Arial, Helvetica, sans-serif;	
	margin-bottom:0px;
}

.pm-product-switcher-icon {
	width:40px;
	height:40px;
	/*background-color:#FF9701;*/
	float:right;
	background-image:url('img/ps-arrows.jpg');
}

.pm-product-switcher-icon:hover {
	cursor:pointer;	
}

.pm-product-switcher-icon.pm-switcher-active {
	background-position:0px -40px;	
}

.pm-product-switcher-items {
	background-color: #eee;
    list-style-image: none !important;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding:0px;
}

.pm-product-switcher-items li:before {
	padding:0;
	margin:0;
	content:"";	
}

.pm-product-switcher-items li {
	border-bottom:1px solid #ddd;
}


.pm-product-switcher-items li:last-child {
	border-bottom:none !important;	
}

.pm-product-switcher-items li a {
	display:block;
	width:90.2%;
	padding: 10px 15px;
	color:#333;
	
	transition:all 0.4s;
	-moz-transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-o-transition:all 0.4s;
}

.pm-product-switcher-items li a:hover {
	background-color:#333;	
	color:white;
}


/* Progress Bar */
#pm-progress-bar {
	border:1px solid #bebebe; 
	background:#ffffff; 
	width:100%; 
	height:14px; 
	-moz-border-radius:10px;
	-o-border-radius:10px; 
	-webkit-border-radius:10px; 
	-khtml-border-radius:10px;
	border-radius:10px;
}
#pm-status {
	background:#0066cc; 
	width:0%; 
	height:14px; 
	-moz-border-radius:10px; 
	-o-border-radius:10px;
	-webkit-border-radius:10px; 
	-khtml-border-radius:10px; 
	border-radius:10px;
	background:url("img/progress.jpg") repeat-x scroll 0 0 #0066CC
}


/* Default Template columns */
.pm_default_column [class*="span"] {
	margin-left:0px;
	margin-right:15px;	
}
/* Default Template columns end */

/* Image Panel */
.pm_image_panel {
	width:inherit;	
	margin-bottom:15px;
}

.pm_image_panel_header {
	margin-left: 0 !important;
	width:100%;
	margin-bottom:1px;	
	overflow:hidden;
}

.pm_image_panel_header h4 {
	background-color: #00B7C2;
    border-radius: 10px 0 0 0;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: inherit;
}

.pm_image_panel_header h4 span {
    display: inline-block;
    padding-left: 10px;
    padding-top: 8px;
}

.pm_image_panel_header a {
    /*background-color: #00B7C2;*/
    border-left: 1px solid white;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 20px;
    padding: 9px 15px 7px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.pm_image_panel_header a:hover {
	color:#333;
}

.pm_image_panel_img {
	width:inherit;	
}
/* Image Panel end */

/* Gallery page */
.pm_gallery_posts [class*="span"] {
	margin-bottom:30px;
}
.pm_gallery_posts .pm_span_header {
	margin-bottom:1px;
}
.pm_gallery_selector {
	text-align:center;	
}
.pm_gallery_selector_list {
	padding:8px;
	height:40px;
	border:1px solid #CCC;
	border-radius:10px 0 10px 0;
	-moz-border-radius:10px 0 10px 0;
	-webkit-border-radius:10px 0 10px 0;
	-o-border-radius:10px 0 10px 0;
	background-color:#ededed;
}
/* Gallery page end */

/* Posts page */
.pm_posts [class*="span"] {
	margin-bottom:30px;	
}

.pm_post_tags {
	width:100%;
	border-top:1px dotted grey;	
	margin-top:15px;
	padding-top:20px;
	margin-bottom:15px;
	font-size:12px;
	color:white;
}

.pm_post_tags a {
	color:white !important;	
}

.pm_post_tags i {
	font-size:14px !important;
	margin-right:5px;
}
.pm-post-social-icons {
    float: left;
    list-style: none outside none;
    margin: 20px 0 0;
    padding: 0;
}

.pm-post-social-icons li a {
	display:block;
	padding-top:3px;
	text-decoration:none !important;
	font-size:14px !important;
}

.pm-post-social-icons li {
    color: #FFFFFF;
    float: right;
    height: 26px;
    margin-left: 2px;
    padding-top: 2px;
    text-align: center;
    transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
    width: 30px;
}

.pm-post-social-icons li:hover {
	background-color:#666666 !important;
	cursor:pointer;	
}


.pm-news-post-social-icons li a {
    color: #FFFFFF !important;
    font-size: 16px !important;
    margin-top: 0;
    text-decoration: none !important;
}

.pm-post-social-icons li.gplus {
    background-color: #D95232;
}
.pm-post-social-icons li.twitter {
    background-color: #32CCFE;
}
.pm-post-social-icons li.facebook {
    background-color: #3C599B;
}
.pm-post-social-icons li.linkedin {
    background-color: #1D87BD;
}

/* Organizers page */
.pm_organizers [class*="span"] {
	margin-bottom:30px;	
}
/* Organizers page */

/* Organizers single page */
.pm_organizer_post_content {
	padding-top:15px;	
}

.pm_organizer_single_details {
	list-style:none;
	margin:18px 0 0 0;
	padding:0 30px 0 0;
	border-right:1px dotted grey;
}

.pm_organizer_single_details li {
	margin-bottom:10px;	
	font-size:18px;
	font-family:'Oswald';
	font-weight:300;
	color:#00b7c2;
}

.pm_organizer_single_details li span {
	color:grey;	
}

.pm_organizer_single_details li a {
	color:grey;	
	font-size:18px;
	font-family:'Oswald';
	font-weight:100;
}

.pm_organizer_single_details li > img {
	border-radius:0px !important;	
}

.pm_organizer_single_details li a:hover {
	text-decoration:underline;
}

.pm_organizer_social_icons {
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

.pm_organizer_social_icons li {
	width:35px;
	/*height:30px;*/
	float:left;
	margin-right:1px;
	text-align:center;
	padding-top:4px;
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}	

.pm_organizer_social_icons li a {
	color: white;
    display: block;
    font-size: 16px;
    height: 25px;
    padding-top: 5px;
    width: 35px;
}

.pm_organizer_social_icons li:hover {
	background-color:#333333;	
	cursor:pointer;
}

.pm_organizer_social_icon_gplus {
	background-color:#d95232;	
}
.pm_organizer_social_icon_fb {
	background-color:#3c599b;	
}
.pm_organizer_social_icon_twitter {
	background-color:#32ccfe;	
}
.pm_organizer_social_icon_skype {
	background-color:#009df7;	
}
.pm_organizer_social_icon_linkedin {
	background-color:#1d87bd;	
}
/* Organizers single page end */

/* Events page */
.pm_span_header.pm_event {
	margin-bottom:1px !important;
}

.pm-hover-item.pm-event-activate .pm-hover-item-details {
	background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute; 
    top: 500px;
    width: inherit;
    z-index: 2;	
}

.pm-event-info-ul-date {
    border-right: 1px solid #0000FF;
    float: left;
    list-style: none outside none;
    margin: 25px 35px 0 0 !important;
    padding: 20px !important;
    width: 75px;
}

.pm-event-info-ul-date li {
	text-align:center;	
	margin-bottom:15px;
}

.pm-event-info-ul-date li strong {
	font-size:52px;
	font-weight:bold;	
}

.pm-event-info-ul-date li p {
	font-size:28px;
	font-weight:normal;	
}

.pm-event-info-excerpt {
    float: left;
    margin-top: 20px;
    width: 350px;
}

/*.pm-hover-item-event-info {
	background-color: rgba(0, 0, 0, 0);
    bottom: 0;
    height: 270px;
    left: 0;
    position: absolute;
    top: -270px;
    width: inherit;
    z-index: 10;	
}*/

.pm-hover-item-event-info  p {
	color:white;	
}

.pm_events_info_details {
	width:auto;
	border-top:1px dotted grey;	
}

.pm_event_post .span6 {
	margin-bottom:30px;	
}

.pm_event_post .pm_span_header {
	margin-bottom:0px;	
}

/* Events page end */

/* Events shortcode */
.pm-event-post-shortcode-overflow {
	overflow:auto !important;
	margin-bottom:30px !important;
	margin-top:0px !important;
}
/* Events shortcode end */

/* Events single post */


.pm_event_single_post .knob.days {
	font-family: 'Oswald' !important;
}

.pm_event_post_countdown_ul {
	list-style:none;
	margin:20px 0 0;
	padding:0;
}

.pm_event_post_countdown_ul li:last-child {
	margin-top:-80px;	
}

.pm_countdown_mini_container {
	border-top:1px dotted grey;
	padding-top:10px;	
	padding-bottom:20px;
}

.pm_countdown_mini_ul {
	list-style:none;
	margin:0;
	padding:0;	
	overflow:hidden;
}

.pm_countdown_mini_ul li {
	float:left;	
	margin-right:16px;
}

.pm_countdown_mini_ul li:last-child {
	margin-right:0px;
}
	
.pm_countdown_date {
	padding-top:9px;
	font-size:36px;	
	color:#ACDB05;
	font-family:'Oswald';
	border-right:1px dotted grey;
	padding-right:20px;
	padding-bottom:5px;
}

.pm_countdown_days_left {
	padding-top:9px;
	font-size:36px;	
	color:#ACDB05;
	font-family:'Oswald';
}

.pm_countdown_mini_container {
	display:none;	
}

.pm_countdown_mini_container i {
	font-size:40px;	
	color:#00B7C2;
}

.pm_event_single_post_countdown .pm_event_days_left {
	font-size:30px;
	color: #ACDB05;
	font-family: 'Oswald';
	text-align:center;
	margin-top:-20px;
	margin-bottom:0px;
}

.pm_event_counter {
	text-align:center;	
}

.pm_event_counter > div {
	margin-right:0px !important;	
}

.pm_event_single_post .span12 {
	margin-bottom:12px;	
}

.pm_event_single_post_time {
	heigh:auto;
	width:50%;	
	float:left;
}

.pm_event_single_post_countdown {
	border-right:0px dotted grey;	
	text-align:center;
	overflow:hidden;
	/*padding-bottom:20px;*/
}

.pm_event_single_post_countdown i {
	font-size:100px;
	color:#00b7c2;	
}

.pm_event_single_post_countdown p {
    color: #ACDB05;
    font-family: 'Oswald';
    font-size: 66px;
    font-weight: 300;
    line-height: 37px;
	margin-top:40px;
	margin-bottom:40px;
	text-transform:uppercase;
}


.pm_event_single_post_countdown p strong {
	font-size: 88px;	
}

.pm_event_single_post_content img {
	margin-bottom:20px;	
}

/* Events single post end */

/* Sponsors */
.pm_sponsors_title {
	
	background-color: #3C3C3C;
    clear: both;
    color: #FFFFFF;
    display: table;
    height: 20px;
    margin: 0 auto;
    max-width: 300px;
    padding: 7px 30px;
    text-align: center;
    width: auto;
	
	border-radius:50px 50px 0 0;
	-moz-border-radius:50px 50px 0 0;
	-webkit-border-radius:50px 50px 0 0;
	-o-border-radius:50px 50px 0 0;
}
/* Sponsors end */

/* Tooltip */
#pm_marker_tooltip {
	/*font-family:Arial, Helvetica, sans-serif;
	line-height:20px;*/
	font-size:12px;
	color:white;
	width:auto;
	max-width:150px;
	height:auto;
	padding:3px 10px;
	background-color:#333333;
	border-radius:6px 0 6px 0;
	-moz-border-radius:6px 0 6px 0;
	-webkit-border-radius:6px 0 6px 0;
	-o-border-radius:6px 0 6px 0;
	position:absolute;
	z-index:9999;
	
}
/* Tooltip end */

/* Featured video */
.pm_featured_video p {
	clear:both;	
}

.pm_featured_video p span {
	font-size:12px;
	font-family:'Roboto';
	font-weight:500;
	font-style:italic;
	color:#616161;
}
/* Span header */


.pm_span_header {
    margin-bottom: 1px;
    margin-left: 0 !important;
    width: 100%;
}

.pm_span_header a {
    /*background-color: #00B7C2;*/
    border-left: 1px solid white;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 20px;
    padding: 9px 15px 7px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.pm_span_header a:hover {
	color:#333;
}

.pm_span_header.pm_post {
	margin-bottom:1px !important;
}

.pm_span_header.pm_post_single {
	margin-bottom:1px !important;
}

.pm-single-post-shortcode-container {
	overflow:hidden;	
}

/* Span header end */

/* Hover panels */
.pm-hover-item-image-panel {
	width:inherit;
	height:270px;
	position:relative;
	overflow:hidden;
	
	/*required to eliminate firefox overflow bug with css3 transforms */
	background:#ccc;
    opacity:0.99;
}

.pm-hover-item-icon {
	width:40px;
	height:40px;
	position:absolute;
	z-index:99;
	display:none;
	
}

.pm-hover-item-icon a {
	font-size:30px;
	color:white;	
}

.pm-hover-item-image-panel-img {
	/*width:auto;
	height:270px;*/
	position:absolute;
	z-index:1;
}

.pm-hover-item-image-panel-img img {
	max-width:none;
	transition:all 0.8s ease 0s;
	-o-transition:all 0.8s ease 0s;
	-moz-transition:all 0.8s ease 0s;
	-webkit-transition:all 0.8s ease 0s;
}


.pm-hover-item {
	width:100%;
	float:left;
	height:auto;
	position:relative;
	overflow:hidden;
	
	/*required to eliminate firefox overflow bug with css3 transforms */
	
    opacity:0.99;
}

.page-template-template-blog .pm-hover-item {
	height:350px;	
}

.pm-hover-item.autoHeight {
	height:100% !important;	
}

.pm-hover-item.autoHeight .pm-hover-item-img {
	position:relative !important;	
}

.pm-hover-item.autoHeight .pm-hover-item-img img {
	width:100% !important;	
}

.pm-hover-item.autoHeight .pm-hover-item-details {
	top:480px;	
}


.pm-hover-item-details a {
	font-size:12px;
	/*font-family:'Roboto';*/
}

.pm-hover-item-details p {
	line-height:20px;
}

.pm-hover-item-details i {
	font-size:12px;
	color:white;
}

.pm-hover-item-img {
	/*width:auto;
	height:270px;*/
	position:relative;
	z-index:1;
}

.pm-hover-item-img.event-post {
	height:382px;
	position:relative;
	z-index:1;
}

.pm-hover-item-img img {
	max-width:100%; 
	width:100%;
	transition:all 0.8s ease 0s;
	-o-transition:all 0.8s ease 0s;
	-moz-transition:all 0.8s ease 0s;
	-webkit-transition:all 0.8s ease 0s;
}



.pm-hover-item-title-panel {
	position:absolute;
	z-index:3;
	background-color:rgba(0,0,0,.7);
	left:0;
	bottom:0;
	width:inherit;
	padding:10px 0;
}

.pm-hover-item-excerpt {
	padding-right:30px;	
}


.pm-hover-item-title-panel b {
	color:#ACDB05;
}

.pm-hover-item-title-panel p {
	padding-left:15px;
	margin:0;	
	font-size:12px;
	color:white;
}

.pm-hover-item-title-panel p strong {
	color:#ffd200;
}

.pm-hover-item-title-panel a {
    color: white;
    display: block;
    font-size: 18px !important;
    margin: 3px 15px 0 0;
	text-decoration:none;
}

.pm-hover-item-details {
	width:inherit;	
	position:absolute;
	z-index:2;
	left:0;
	bottom:0;
	background-color:rgba(0,0,0,.7);
	height:100%;
	top:500px;
	width:100%;
}

.pm-hover-item-details a {
	color:#ACDB05;
}

.pm-hover-item-details a:hover {
	text-decoration:underline;
}

.pm-hover-item-details h3 {
	color:white;
	margin:0 0 15px 0;
	padding:0;
	font-size:20px;	
	line-height:20px;
}

.pm-hover-item-details p {
	color:white;
	font-size:12px;
	margin-bottom:0px;
}

.pm-hover-item-details p span {
	color:white;
	font-size:20px;
	display:block;
	margin-bottom:20px;
}

.pm-hover-item-details ul {
	margin:0;
	padding:0;
	list-style:none;	
	color:#3a3a3a;
	font-size:12px;
}

.pm-hover-item-details ul li {
	line-height:20px;
	color:white !important;
	font-size:12px !important;
}

.pm-hover-item-spacer {
	padding:20px 20px;
	overflow:hidden;
}

.pm-hover-item-spacer p {
	margin-bottom:10px;	
}

.pm-hover-item-spacer h3 a {
	color:black;
}

.pm-hover-item-spacer i {
    color:white;
    /*float: right;*/
    font-size: 18px;
    transition: color 0.3s ease 0s;
	-moz-transition: color 0.3s ease 0s;
	-webkit-transition: color 0.3s ease 0s;
	-o-transition: color 0.3s ease 0s;
}

.pm-hover-item-spacer i:hover {
	color:white;	
}
.pm-news-post-item {
    height: auto;
    overflow: hidden;
    position: relative;
    width: auto;
	height:370px;
	width:inherit;
}

.pm-news-post-item img {
	max-width:none;	
	transition:all 0.8s ease 0s;
	-o-transition:all 0.8s ease 0s;
	-moz-transition:all 0.8s ease 0s;
	-webkit-transition:all 0.8s ease 0s;
}

.pm-news-post-item-details {
    background-color: rgba(0, 0, 0, 1);
    bottom: -300px;
    display: block;
    height: 360px;
    padding: 5px 16px;
    position: absolute;
    /*transition: all 0.5s ease 0s;*/
    z-index: 2;
	width:inherit;
}

/*.pm-news-post-item-details:hover {
	bottom:0;	
	background-color: rgba(0, 0, 0, 1);
}*/

.pm-news-post-item-details h4 {
    color:#ffd200;
    font-size: 18px;
    font-weight: normal;
    /*padding-top: 8px;*/
	margin-bottom:3px;
	margin-top:5px;
}

.pm-news-post-item-details p {
    color: #FFFFFF;
    font-size: 12px;
    padding: 0 !important;
	margin-bottom:0;
}

.pm-news-post-item-details p span {
   color:#ffd200;
}

.pm-news-post-item-details a {
    color: #00BAFF;
}

.pm-news-post-excerpt {
	padding:5px 20px 5px 0;	
	margin:20px 0;
	width:90%;
}

.pm-news-post-excerpt p {
	margin:0;
	padding:0;	
	font-size:12px;
}

.pm-news-post-excerpt a {
	display:block;
	margin-top:20px;
	color:#ffd200;
	text-decoration:none;
	font-size:12px;
}

.pm-news-post-excerpt a:hover {
	color:#ffd200;
	text-decoration:underline;
}

.pm-news-post-excerpt p span a {
	color:#ffd200;
	display:inline;
}

.pm-news-post-divider {
	height:1px;
	background-color:#333;
	margin:20px 0;	
}

.pm-news-post-social-icons {
    float: left;
    list-style: none outside none;
    margin: 20px 0 0 0;
    padding: 0;
}

.pm-news-post-social-icons li {
    color: #FFFFFF;
    float: right;
    height: 26px;
    margin-left: 2px;
    padding-top: 2px;
    text-align: center;
    transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
    width: 30px;
}

.pm-news-post-social-icons li a {
    color: #FFFFFF !important;
    text-decoration: none !important;
	font-size: 16px !important;
	margin-top:0;
}

.pm-news-post-social-icons li.facebook {
    background-color: #39599F;
}
.pm-news-post-social-icons li.gplus {
    background-color: #1872BF;
}
.pm-news-post-social-icons li.twitter {
    background-color: #45B0E3;
}

.pm-news-post-social-icons li.facebook:hover, .pm-news-post-social-icons li.gplus:hover, .pm-news-post-social-icons li.twitter:hover {
	background-color: #999;
	cursor:pointer;	
}

.pm-hover-item-gallery-interface {
	width:inherit;
	height:40px;	
}

.pm-hover-item-gallery-interface li {
	height:inherit;	
	float:left;
	font-size:20px !important;
	text-align:center;
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}

.pm-hover-item-gallery-interface li:hover {
	background-color:rgba(0,0,0,.5);
}

.pm-hover-item-gallery-interface li:first-child {
	border-top:1px solid #4c4c4c;
	border-right:1px solid #4c4c4c;
	width:49.5%;
}

.pm-hover-item-gallery-interface li:last-child {
	border-top:1px solid #4c4c4c;
	width:50%;
}

.pm-hover-item-gallery-interface li a {
	font-size:18px !important;
	color:#999;
	display:block;
	padding-top:8px;
	text-decoration:none !important;
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}

.pm-hover-item-gallery-interface li a:hover {
	color:white;
}



/* Hover panels end */

/* Quick nav */
.pm-quick-nav-container {
    background-color: rgba(0, 0, 0, 0.9);
    /*height: 48px;*/
    position: fixed;
    top: -48px;
    width: 100%;
    z-index: 9999;
}
.pm-quick-nav {
	width:1170px;
	margin:0 auto;
}

.pm-quick-nav .header_donate_btn, .pm-quick-nav .header_social_icons {
	margin-top:6px;	
}

/* Quick nav end */

/* Body */
.subpage {
	background-image:url(../img/subpage-header.jpg);
	background-repeat:no-repeat;
	background-position:center top;	
}

/* Body end */

/* Header */

#nav {
	text-transform:uppercase;
}
   
header {
	width:100%;
	height:78px;
	padding:20px 0 0 0;
	background-repeat:repeat-x;
	background-position:center center;
}


.pm_header_slogan p {
	color:white;
	font-size:18px;
	text-align:left;	
}

.pm_header_donate {
	margin-top:14px;	
}

.logo_container {
	overflow:hidden;	
}

.header_social_icons {
	float:right;
	width:auto;
	border:0px solid white;
	color:white;
	height:32px;
	margin-right:10px;
}

.header_social_icons a {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 999px;
	-moz-border-radius: 999px;
	-webkit-border-radius: 999px;
	-o-border-radius: 999px;
    display: inline-block;
    font-size: 18px;
    padding: 6px 2px;
    text-align: center;
    transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
    width: 28px;
	color:white;
}

.header_social_icons a:hover {
	background-color:#acdb05;	
	cursor:pointer;
}

.header_donate_btn {
	float:right;
	width:auto;
	border:0px solid white;
	color:white;
	height:32px;
	margin-right:10px;
	padding-bottom:8px;
}

#header_toggle {
    clear: right;
    float: right;
    height: 20px;
    overflow: hidden;
    width: 20px;
	position:relative;
	margin-right:7px;
}

#header_toggle_slide {
	height:50px;
	position:relative;
	top:0px;	
}

#header_toggle i {
	color:white;	
}

#header_toggle i:hover {
	cursor:pointer;	
}

/* Header end */

/* Search page */
.pm-search-page [class*="span"] {
	margin-bottom:30px;
}

/* Search bar */

.pm_search_field_container {
	width:300px;
	height:auto;
	position:relative;
}

.pm_search_field_container.widget {
	width:100%;	
}

.pm_search_field_container .searchsubmit {
	display: block !important;
    position: absolute;
    right: 0;
    top: 0;
}

.pm_searchfield {
    border: 0px solid #FFFFFF !important;
    border-radius:0px !important;
    font-size: 14px !important;
    height: auto !important;
    margin: 0 !important;
    padding: 12px 0 0 10px !important;
    width: 225px !important;
	background-color:transparent !important;
	color:white !important;
}

.pm_searchbar_container {
	float:right;	
	overflow:hidden;
	background-color:#212121;
	min-height:47px;
}

.pm_searchbar_container.widget {
	width:100%;	
}

.pm_search_icon {
	width:27px;
	height:auto;
	float:right;	
	padding-top:3px;
}

.pm_search_icon:hover {
	cursor:pointer;	
}

.pm_search_icon .icon-search {
	color:#969696;
	font-size:20px !important;	
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}

.pm_search_icon .icon-search:hover {
	color:white;
}

.pm_search_icon .icon-search.active {
	color:white;
}

/* Main Nav */

.pm_main_nav_container {
	background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    width: 100%;
    z-index: 999;
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}

/* Main Nav end */

/* Footer */
footer {
	background-color: #303030;
    border-bottom: 8px solid #3C3C3C;
    border-top: 8px solid #3C3C3C;
	width:100%;	
	padding:30px 0;
}

.footer_container {
	margin:0 auto;	
}

.footer p {
	color:white;
}


.pm_footer_info {
	background-color:#CCCCCC;
	background-repeat:repeat-x;
	background-position:center center;	
	width:100%;
	padding:20px 0;
}

.pm_footer_info_copyright {
	margin:0;
	padding:0;
	list-style:none;
	float:right;	
	text-align:right;
	color:white;
	font-size:12px;
	
}

.pm_footer_info_copyright a {
	color:white;	
	font-size:inherit !important;
}

.pm_footer_info_copyright a:hover {
	text-decoration:underline;	
}

#nav_footer {
	float:right;	
	text-transform:uppercase;
	margin-top:12px;
}

.footer_info {
	padding:20px 0;
}

.footer_social_icons {
	float:right;
	width:auto;
	border:0px solid white;
	color:white;
	height:32px;
}

.footer_social_icons a {
    background-color:#303030;
    display: inline-block;
    font-size: 18px;
    padding: 6px 2px;
    text-align: center;
    width: 28px;
	color:white;
	
	border-radius: 999px;
	-moz-border-radius: 999px;
	-webkit-border-radius: 999px;
	-o-border-radius: 999px;
	
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.footer_social_icons a:hover {
	background-color:#74c053;	
	cursor:pointer;
}

/* Footer end */

/* Superfish overrides */
.sf-menu {
	margin-bottom:0 !important;	
	transition:all 0.7s linear 0s;
	-moz-transition:all 0.7s linear 0s;
	-webkit-transition:all 0.7s linear 0s;
	-o-transition:all 0.7s linear 0s;
}
.sf-menu li {
    background:none !important;
	border-bottom:1px solid transparent;
}
.sf-menu a {
	color:white; /*default*/
    border-left: 0px solid #FFFFFF !important;
    border-top: 0px solid rgba(255, 255, 255, 0.5) !important;
	/*color:white !important;*/
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	font-weight:300 !important;
	letter-spacing:2px;
	padding:0.75em 0.8em 0.75em 1em !important;
}
.sf-menu li:hover {
	background-color:rgba(0,182,193, .2)!important;
	border-bottom:1px solid #09C;
}

.sf-menu li.current-menu-item {
	background-color:rgba(0,182,193, .2)!important;
	border-bottom:1px solid #09C;
}

/*.sf-menu a:hover {
	color:#acdb05 !important;
}*/
.sf-sub-indicator {
	/*background:none !important;	
	top: 1.3em !important;*/
	display:none !important;
}
.sf-menu a.sf-with-ul {
    padding-right: .7em !important;
}
.sf-menu ul {
	background-color:rgba(0,0,0,0.8);
	box-shadow:2px 2px 6px rgba(0, 0, 0, 0.88) !important;
	border-radius:0 0 0 14px;
	-moz-border-radius:0 0 0 14px;
	-webkit-border-radius:0 0 0 14px;
	-o-border-radius:0 0 0 14px;
	/*border-radius:1px;*/
	/*border:1px solid #74c053;*/
}
.sf-menu ul li {
	/*border-bottom:1px solid rgba(0,182,193, .2);*/
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}
.sf-menu ul li:hover {
	background-color:rgba(0,182,193, .2) !important;
	color:white !important
}
.sf-menu ul li a:hover {
	color:white !important
}
.sf-menu ul li:last-child {
	border-bottom:0px solid #74c053;
	border-radius:0 0 0 14px;
	-moz-border-radius:0 0 0 14px;
	-webkit-border-radius:0 0 0 14px;
	-o-border-radius:0 0 0 14px;
}
.sf-menu ul ul {
	top:0px !important;	
}

/* Superfish overrides end */



/* Homepage */

.pm_feature_container {
	width:100%;
	background-color:#303030;
	border-top:8px solid #3c3c3c;
	border-bottom:8px solid #3c3c3c;
	clear:left;
	color:white;
	/*margin-bottom: 10px;*/
    /*padding: 30px 0;*/
}

.pm_feature_container .container {
	padding:0px auto !important;
}

.pm_feature_container .container h5 {
	/*font-family:'Oswald';
	font-weight:normal;
	color:white;*/
	margin:0 0 15px 0;
}

.pm_feature_container .container p {
	/*font-family:'Roboto';
	font-weight:normal;
	font-size:13px;*/
	color:white;	
}

.fullscreen_container {
	width:100%;
}

.cta_container {
	width:100%;
	background-position:center center;
	background-repeat:no-repeat;
	min-height:290px;
	padding:40px 0;
	/*padding:40px 0;
	margin-bottom:40px;*/
}

.cta_container p {
	/*color:white;
	font-size:18px;	
	font-family:'Roboto';
	font-weight:100;
	max-width:550px;*/
	line-height:30px;
	margin-bottom:20px;
}

/*.cta_container p span {
	font-size:24px;	
}*/

/* Homepage end */

/* Subpage */

.pm_header_quote {
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    display: inline-block;
    float: right;
    padding: 10px 18px 10px 17px;
    text-align: right;
	margin-top:35px;
	border-radius:30px 0px 20px 30px;
	-moz-border-radius:30px 0px 20px 30px;
	-webkit-border-radius:30px 0px 20px 30px;
	-o-border-radius:30px 0px 20px 30px;
}

/*.pm_header_quote span {
	color:white;
	font-family:'Roboto';
	font-weight:500;
	font-size:14px;
}*/

.pm_subheader_container {
	width:100%;
	height:227px;	
	/*background-image:url(../img/subpage/h1.jpg);*/
	background-repeat:repeat-x;
	background-position:center top;
	margin-top:-47px;
	border-bottom:8px solid #e9e9e9;
}

.sub {
	padding:0 0 20px 0;	
}


.subHeader {
	padding:80px 0 20px 0;	
}


.breadcrumbs {
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 5px 0 0;
	padding:5px 18px 5px 14px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 0px 30px 30px 20px;
	-moz-border-radius: 0px 30px 30px 20px;
	-webkit-border-radius: 0px 30px 30px 20px;
	-o-border-radius: 0px 30px 30px 20px;
	float: left;
	clear:left; 
}

.breadcrumbs li {
    margin-right: 5px;
    float: left;
	font-weight:bold !important;
}

.breadcrumbs li a:hover {
	text-decoration:underline;	
}

/* Subpage end */

.tinynav { 
	display: none; 
}

.show-grid {
    margin-bottom: 20px;
    margin-top: 10px;
}

.show-grid [class*="span"] {
    background-color: #EEEEEE;
    border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
    line-height: 40px;
    min-height: 40px;
    text-align: center;
}

.show-grid [class*="span"] {
    margin-bottom: 5px;
}

/* Bootstrap icons ul */
.the-icons li {
	float: left;
	font-size: 14px;
	list-style-type: none;
	margin-bottom: 10px;
	margin-right: 1%;
	width: 24%;	
}

/* Bootstrap overrides */

code {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    color: #DD1144;
    display: inline-block;
    margin-bottom: 10px;
    padding: 2px 4px;
	white-space:normal;
}

blockquote {
    border-left: 5px solid #ACDB05;
    border-radius: 8px 0 8px 8px;
	-moz-border-radius: 8px 0 8px 8px;
	-webkit-border-radius: 8px 0 8px 8px;
	-o-border-radius: 8px 0 8px 8px;
    margin: 15px 20px 20px;
    padding: 0 0 0 15px;
}

.affix {
    position: fixed; 
    top: 0px; 
    left: 0px;
	z-index:9999;
}

form {
    margin:0 !important;
}

.btn {
	font-weight:bold;	
	font-size:14px;
	color:#214e0d;
	padding:5px 30px;
	/*border-style:hidden !important;*/
	box-shadow:none !important;
	text-shadow:none !important;
}

#back-top {
    /*border: 3px solid #74C053;
    border-radius: 999px 999px 999px 999px;*/
    bottom: 0;
    display:none;
    font-size: 30px !important;
    height: 38px;
    margin-right: 20px;
    padding-top: 7px;
    position: fixed;
    right: 0 !important;
    text-align: center;
    width: 45px;
    z-index: 999;
	transition:background-color 0.3s ease 0s;
	-moz-transition:background-color 0.3s ease 0s;
	-webkit-transition:background-color 0.3s ease 0s;
	-o-transition:background-color 0.3s ease 0s;
}

#back-top:hover {
	cursor:pointer;
}

#back-top a {
	text-decoration:none;
	transition:color 0.3s ease 0s;
	-moz-transition:color 0.3s ease 0s;
	-webkit-transition:color 0.3s ease 0s;
	-o-transition:color 0.3s ease 0s;
	font-size: 30px !important;
}

/* Helpers */

article {
	width:inherit;	
	overflow:hidden;
}

.clearfix {
	clear:both;	
}

.pm_center {
	text-align:center;	
}

.pm_left {
	text-align:left;	
}

.pm_float_left {
	float:left;	
}

.pm_float_right {
	float:right;	
}

.pm_paddingTop20 {
	padding:20px 0 0 0;
}

.pm_paddingTop40 {
	padding:40px 0 0 0;
}

.pm_paddingTop60 {
	padding:40px 0 0 0;
}

.pm_paddingVertical20 {
	padding:20px 15px !important;
}

.pm_paddingVertical40 {
	padding:40px 15px !important;
}

.pm_paddingVertical60 {
	padding:60px 15px !important;
}

.pm_paddingVertical70 {
	padding:70px 15px !important;
}

.pm_paddingVertical80 {
	padding:80px 15px !important;
}

.pm_paddingVertical90 {
	padding:90px 15px !important;
}

.pm_paddingVertical100 {
	padding:100px 15px !important;
}

.pm_paddingVertical110 {
	padding:110px 15px !important;
}

.pm_paddingVertical120 {
	padding:120px 15px !important;
}

.pm_paddingTopVertical40 {
	padding-top:40px;
}

.pm_paddingBottomVertical80 {
	padding-bottom:80px;
}



.pm_containerBorderBottom {
	background-repeat:repeat-x;
	background-position:center bottom;
}

/* Globals classes */

.posts_loader {
	margin-bottom:20px;	
	text-align:center;
	margin-left:0 !important;
}

p {
	/*margin:14px 0;*/
	font-size:12px;	
	color:#333333;
}

ul {
	/*color:#6d6d6d;
	font-size:14px;	*/
	list-style-image:url('img/ul-arrow.png');
	margin:20px;
	padding:0 20px;
}

ul li {
	line-height:26px;	
}

.pm-personal-message {
	background-color:#f6f7f7;
	padding:20px;
	overflow:hidden;
}

.pm-personal-message img {
	float:left;	
	margin-right:20px;
}

.pm-personal-message p {
	line-height:28px;	
}

.pm-personal-icons {
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
	overflow:hidden;
}

.pm-personal-icons li {
	float:left;	
	margin-right:2px;
}

.pm-personal-icons a {
    background-color: #757575;
    border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-o-border-radius: 0px;
    display: inline-block;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
    width: 28px;
	color:white;
}

.pm-personal-icons a:hover {
	 background-color:#999 !important;
	 cursor:pointer;
}

/* Page Title */
.pm_page_title {
	/*font-size:30px;	
	color: white;
	font-weight:300;*/
	display:inline-block;
	padding:5px 18px 5px 12px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 15px 30px 30px 0px;
	-moz-border-radius: 15px 30px 30px 0px;
	-webkit-border-radius: 15px 30px 30px 0px;
	-o-border-radius: 15px 30px 30px 0px;
	float:left;
	margin-bottom:1px;
}


/* Panel Header */
.pm_span_header h4 {
    background-color: #00B7C2;
    display: block;
    float: left;
    margin:0;
    padding:0;
    width: inherit;
	min-height:35px;
	
	border-radius: 10px 0 0 0;
	-moz-border-radius: 10px 0 0 0;
	-webkit-border-radius: 10px 0 0 0;
	-o-border-radius: 10px 0 0 0;
}

.pm_span_header h4 span {
    display: inline-block;
    padding-top: 8px;
	padding-left:10px;
}

/* Footer Column Header */
.pm-sidebar h6 {
	border-bottom: 1px solid #00a8b2;
    display: block;
    margin-bottom: 15px;
    margin-top: 0;
    padding-bottom: 12px;
	color:#666666;
	font-size:18px;
}

.widget_footer h6 {
	border-bottom: 1px solid #00a8b2;
    display: block;
    margin-bottom: 15px;
    margin-top: 0;
    padding-bottom: 12px;
	color:white;
	font-size:18px;
}

/* Form colors */
.form_dark input[type="text"] {
	background-color:#262626;
	border:1px solid #848484;
	color:#CCC;
	font-size:12px;
	width:95%;
	float:left;
	clear:left;
}

.form_light input[type="text"] {
	background-color:white;
	border:1px solid black;
	color:#CCC;
	font-size:12px;
	width:95%;
	float:left;
	clear:left;
}


/* Organizers */
.navigation.pagination {
	padding:0px;	
}

.pm-organizers-nav-links {
	clear:both;
	overflow:hidden;	
}

.pm-organizers-nav-links a {
	display:inline-block;
	padding:5px 10px;
	background-color:#0E834B;
	color:white;	
	
	@include transition(all, 0.4s);
	@include borderRadiusAll(4px);
}

.tax-organizer_item_types .pm-hover-item.pm-organizer-activate {
	margin-bottom:30px;	
}

.pm-organizer-container {
	margin-bottom:30px;	
}

.pm-organizer {
	padding:20px;
	background-color:#F6F7F7;
	overflow:hidden;
}

.pm-organizer h5 {
	display:inline-block;
	border-bottom:3px solid #74C053;
	padding-bottom:12px;
}

.pm-organizer img {
	border:1px solid #CCC;
	/*margin-right:20px;
	float:left;*/
}

.pm_span_header.pm_organizer {
	margin-bottom:1px !important;
}


/* Blog Posts */
.pm_single_post p {
	margin-top:10px;	
}

.pm_posts_divider {
    margin:30px 0;
}

.pm_single_post .pm_span_header h4 span + span {
	padding-left:0px;
}


.pm_single_post .pm_span_header a {
    font-size: 16px;
    padding: 10px 15px;
}

img.wp-post-image {
	width:100%;
	border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	-o-border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
}


.pm_single_post_tags_container {
    /*border-bottom: 1px dotted #808080;*/
    border-top: 1px solid #ddd;
    margin-top: 20px;
    overflow: hidden;
    /*padding-bottom: 13px;*/
    padding-top: 15px;
    width: auto;
}

.pm_single_post_tags, .pm_single_post_comment_count {
	float:left;
	font-size:14px;
}

.pm_single_post_tags a {
    font-size: 14px;
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}



.pm_single_post_comment_count {
	float:right;	
}

.pm-featured-post-image {
	border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
	-o-border-radius:0 0 10px 10px;
}

/* Blog Posts end */

/* Single Blog Post */
.pm-single-blog-post-container {
	margin-bottom:30px;	
}
.pm-single-blog-post {
	padding:20px;
	background-color:#F6F7F7;
	overflow:hidden;
}
.pm-single-blog-post img {
	margin-bottom:20px;
	border:1px solid #CCC;
	width:100%;
}
/* Single Blog Post end */

/* Tags Drop Menu */
.pm-dropdown {
    /*position: relative;
    top: -7px;*/
	float:right;
}

.pm-shop-filter-menu {
	float:none;	
	width:231px;
	margin-bottom:30px;
}


.pm-dropmenu {
    cursor: pointer;
    height: 40px;
    line-height: 1;
    overflow: hidden;
    position: relative;
    transition: all 0.1s ease 0s;
    width: 230px;
	background-color:rgba(125,125,125,.9);
}

.pm-dropmenu .pm-menu-title {
    color: white;
    margin: 15px 0px 0 20px;
	text-align:left;
	line-height: 10px !important;
	font-size: 14px !important;
}


.pm-dropmenu .pm-selected {
    color: grey;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0;
}

.pm-dropmenu i {
    color: #FFFFFF;
    position: absolute;
    right: 20px;
    top: 35%;
}

.pm-dropmenu-active {
    background-color:rgba(125,125,125,.9);
    display: none;
    height: auto;
    padding: 11px 0;
    position: absolute;
    min-width: 230px;
    z-index: 90000;
}

.pm-dropmenu-active ul {
    margin: 0;
	padding: 0;
	list-style:none;
}

.pm-dropmenu-active ul li {
    text-align:left;
}

.pm-dropmenu-active ul li:hover {
	background-color:rgba(125,125,125,1);	
}

.pm-dropmenu-active ul li a {
    color: white;
    display: block;
    padding: 4px 20px;
	text-decoration:none;
	line-height:2;
} 

.pm-dropmenu-active ul li a.active {
	font-weight:bold;	
}

.pm-posts-count {
	float:right;	
	margin-left:25px;
	padding-left:20px;
}

.pm-posts-count p {
    font-size: 20px;
    margin-bottom: 4px;
    margin-top: 7px;
}

.pm-posts-count p span {
	font-size:40px !important;	
}

/* Tags Drop Menu end */

.pm-tab-system {
	border:none !important;	
}

.pm-post-item-shortcode {
	margin-bottom:30px;
	overflow:hidden;
}	


/* WPML Language selector */
.pm-micro-nav-lang-selector {
	float:right;	
	width:120px;
	margin-right:20px;
}

.pm-dropdown.pm-language-selector-menu {
    max-width: 120px;
}

.pm-dropdown.pm-language-selector-menu .pm-dropmenu {
    background-color: transparent;
    cursor: pointer;
    line-height: 1;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
    width: 120px;
	border:none !important;
	margin-top:-6px;
}

.pm-dropdown.pm-language-selector-menu .pm-dropmenu i {
    position: absolute;
    right: 20px;
    top: 34%;
}

.pm-dropdown.pm-language-selector-menu .pm-dropmenu-active {
    display: none;
    height: auto;
    min-width: 120px;
	width:auto !important;
    padding: 0px;
    position: absolute;
    z-index: 999999;
}

.pm-language-selector-menu .pm-dropmenu-active ul li img {
    float: left;
    margin: 12px 8px 0;
}

.pm-language-selector-menu .pm-dropmenu-active ul li a {
    font-size: 12px !important;
	text-transform:uppercase !important;
    font-weight: 300 !important;
	padding:6px 20px 5px;
	font-family:Arial, Helvetica, sans-serif;
}

/** Gallery Template layout **/
.pm-gallery-template-list {
	margin:0px;
	padding:0px;
	list-style:none;
}

/* Feature box */
.feature-box {
    position: relative;
    text-align: left;
}
.feature-box h4 {
    margin-bottom: 10px;
}
.feature-box > .fa {
    position: absolute;
    top: -6px;
    left: 0;
    font-size: 28px;
	margin-top:9px;
	font-family:'FontAwesome';
}


.feature-box .content {
    margin-left: 50px;
}

.feature-box img {
    height: auto;
    left: -15px;
    position: absolute;
    max-width:60px;
}

.feature-box .typcn {
    font-size: 45px;
    line-height: 0;
    position: absolute;
    top: 20px;
}

/* 46. Partners carousel */
.owl-carousel {
	margin-bottom:40px;	
}

.pm-brand-carousel-btns {
    display: block;
    margin: 20px auto;
    width: 122px;
	height:70px;
}

.owl-item .pm-brand-item {
	text-align:center;
	position:relative;	
	height:auto;
	
}

.owl-item .pm-brand-item img {
	margin:0 auto;	
}

.owl-item .pm-brand-item a {
	display:inline-block;
	font-weight:500;
	font-size:12px;
	
	color:white;
	padding:15px 15px 17px;
	text-align:center;
	position:relative;
	margin:20px auto;
	z-index:2;
	line-height:0px;
	
	border-radius:99px;
	-moz-border-radius:99px;
	-o-border-radius:99px;
	-webkit-border-radius:99px;
	
	transition:all 0.4s;
	-moz-transition:all 0.4s;
	-o-transition:all 0.4s;
	-webkit-transition:all 0.4s;
	
}

.owl-item .pm-brand-item a:hover {
	color:white;	
}

.btn.pm-owl-prev {
	display:block;
	width:45px;
	height:45px;
	background-color:transparent !important;
	background-image:none !important;
	font-size:22px !important;
	line-height:35px;
	padding:0px;
	float:left;
	line-height: 46px !important;
	border:none !important;
}

.btn.pm-owl-next {
	display:block;
	width:45px;
	height:45px;
	background-color:transparent !important;
	background-image:none !important;
	font-size:22px !important;
	line-height:35px;
	padding:0px;
	float:right;
	line-height: 46px !important;
	border:none !important;

}

.btn.pm-owl-play {
	background-color:transparent !important;
	background-image:none !important;	
	border:none !important;
	padding:15px 10px;
}

.owl-item .pm-carousel-item img {
    margin: 0 auto;
	display:table;
}

/* Divider */
.pm-divider {
    display: inline-block;
    width: 100%;
}



/* SASS imports */
@import 'btn';
@import 'comments';
@import 'flickrfeed';
@import 'footer';
@import 'sidebar';
@import 'twitterfeed';
@import 'widget-forms';
@import 'woocommerce-custom';
@import 'gallery';