.customize-control-radio .ui-state-default, .customize-control-radio .ui-widget-content .ui-state-default, .customize-control-radio .ui-widget-header .ui-state-default {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-o-border-radius: 0 !important;
}

.customize-control-radio .ui-button-text-only .ui-button-text {
    padding: 0.1em;
}


.customize-control-radio .ui-widget {
    float: left;
    font-size: 0;
    height: 47px;
    margin-right: 4px !important;
    margin-top: 4px;
    padding-top: 0;
    width: 25% !important;
}

.customize-control-slider input[type="text"] {
	margin-bottom:10px;
}

.customize-control-slider .ss-slider {
	margin-bottom:7px;	
}